// Navigation Styles here

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 22.5%;
    border-bottom: 2px dashed @navigation-border;

    .title {
        
        a {
            color: @font-color;
            text-decoration: none;
        }
    }

    ul {
        width: 40%;
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;

        .nav-links {
            
            a {
                color: @font-color;
                text-decoration: none;
            }
        }
    }
}